<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title><%= @title || '' %> ultratrace</title>
	<%= stylesheet_link_merged :base %>
	<%= javascript_include_merged :base %>

</head>
<body id="doc2" class="yui-t1">
	<div id="hd" class="rounded_bottom">
		<h1 class="logo"><%= image_tag "logo.png", :alt => "caidao123" %></h1>
		<ul class="menu">
			<li>AWS管理</li>
		</ul>
	</div>
	<div id="bd">

		<div id="yui-main">
			<div class="yui-b">
				<%= display_standard_flashes %>
				<%= yield %>
			</div>
		</div>

		<div class="yui-b">
			<div id="app_sidebar" class="rounded">
				<ul class="app_list">
					<li class="title">EC2管理</li>
					<li><%= link_to "实例", "/aws/instances" %></li>
					<li><%= link_to "IP管理", "/aws/addresses" %></li>
					<li><%= link_to "安全组管理", "/aws/groups" %></li>
					<li><%= link_to "密钥管理", "/aws/keys" %></li>
					<li class="title">S3管理</li>
					<li><%= link_to "桶", "/aws/buckets" %></li>
				</ul>
			</div>

		</div>
	</div>
	<div id="ft" class="rounded">

		<p class="r_option">
			<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP"><%= image_tag "top.gif", :style => "padding: 5px 6px 6px;" %></a>
		</p>
		<p>
			Ultratrace
		</p>
	</div>
</body>
</html>